<!DOCTYPE html>
<html class="perfect-scrollbar-off" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Header-->
<div th:replace="Header.html :: header"></div>

<body class="">

<!--Sidebar-->
<div th:replace="Sidebar.html :: sidebar"> </div>

<div class="main-panel">
    <!--Navbar-->
    <div th:replace="navbar.html :: navbar"> </div>

    <div class="content">
        <div class="container-fluid">
            <div class="well well-sm">
                <strong>FILTER PRODUCTS</strong>
                <form action="/" method="GET" class="form-horizontal">
                    <div class="row">

                        <div class="col-md-2">
                            <h4>CATEGORIES</h4>
                            <select name="category" class="form-control">
                                <option th:each="cat,iterStat : ${categories}" th:value="${cat.id}"
                                        th:text="${cat.name}"></option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <h4>SUPPLIERS</h4>
                            <select name="supplier" class="form-control">
                                <option th:each="supp,iterStat : ${suppliers}" th:value="${supp.id}"
                                        th:text="${supp.name}"></option>
                            </select>
                        </div>
                        <br><br>
                        <button type="submit" class="btn btn-outline-success">Order by</button>
                    </div>
                </form>

            </div>

            <div id="products" class="row">

                <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${products}">
                    <div class="thumbnail">
                        <img class="group list-group-image" src="http://placehold.it/400x250/000/fff"
                             th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt=""/>
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                            <!--<p class="group inner list-group-item-text" th:text="${prod.description}">Product-->
                                <!--description... </p>-->
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <form method="post">
                                        <input type="hidden" name="addToCart" th:value="${prod.id}">
                                        <button type="submit" class="btn btn-success" href="/">Add to cart</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="copyright float-right">
                @ 2018, Python lives matter!
            </div>
        </div>
    </footer>
</div>
</div>

</body>
</html>