<!DOCTYPE html>
<html class="perfect-scrollbar-off" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Header-->
<div th:replace="Header.html :: header"></div>

<body class="">

<!--Sidebar-->
<div th:replace="Sidebar.html :: sidebar"></div>

<div class="main-panel">
    <!--Navbar-->
    <div th:replace="navbar.html :: navbar"></div>

    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title mt-0"> Items in your shopping cart</h4>
                        <p class="card-category" th:text="'Total price: ' + ${userCart.getTotalPrice()} + ' USD'"></p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                <th>
                                    Photo
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Price per item
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Total Price
                                </th>
                                <th></th>
                                </thead>
                                <tbody>
                                <tr th:each="prod: ${products}" th:attr="id='tr_'+${prod.getId()}">
                                    <td>
                                        TODO: PHOTO
                                    </td>
                                    <td th:text="${prod.getName()}">
                                    </td>
                                    <td th:text="${prod.getPrice()}">
                                    </td>
                                    <td>
                                        <input th:attr="id='input_'+${prod.getId()}" class="form-control quantity" type="number"
                                               th:value="${productHashMap.get(prod)}">
                                    </td>
                                    <td th:text="${#numbers.formatDecimal(prod.getPriceFloat()*productHashMap.get(prod), 0, 'COMMA', 1, 'POINT')}  + ' USD'">
                                    </td>
                                    <td>
                                        <button th:attr="onclick='removeFromCart('+${prod.getId()}+')'" th:id="'button_'+${prod.getId()}"
                                                class="btn btn-primary btn-fab btn-round">
                                            <i class="material-icons">delete_forever</i>
                                            <div class="ripple-container"></div>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer-->
    <div th:replace="footer_new.html :: footer"></div>
</div>
<script src="/static/js/cartPage.js" type="text/javascript" defer></script>
</body>
</html>