<!DOCTYPE html>
<html class="perfect-scrollbar-off" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="http://polly.agency:8000/static/img/apple-icon.png">
    <link rel="icon" href="http://polly.agency:8000/static/img/favicon.png">
    <title>
        Code Shop
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>


    <link href="../static/css/material-dashboard.css" rel="stylesheet">
    <link href="../static/css/demo.css" rel="stylesheet">

</head>

<body class="">

<div class="sidebar" data-color="azure" data-background-color="black" data-image="/static/img/sidebar-1.jpg">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

Tip 2: you can also add an image using data-image tag
-->
    <div class="logo">
        <a href="/" class="simple-text logo-normal">
            Code Shop
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">

            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="material-icons">dashboard</i>
                    <p>Shop</p>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/cart">
                    <i class="material-icons">shopping_cart</i>
                    <p>Cart</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="sidebar-background" style="background-image: url(/static/img/sidebar-1.jpg) "></div>

<div class="main-panel">
    <!-- Navbar -->

    <nav class="navbar navbar-inverse navbar-expand-lg bg-dark" role="navigation-demo">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-translate">
                <a class="navbar-brand" href="#">Your Shopping Cart</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#pablo" class="nav-link">
                            Discover
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#pablo" class="nav-link">
                            Wishlist
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#pablo" class="btn btn-rose btn-raised btn-fab btn-round"
                           data-toggle="dropdown">
                            <i class="material-icons">email</i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#pablo">

                            <div class="d-md-block"><i class="material-icons">person</i>
                                sanya
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-->
    </nav>
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-tabs card-header-primary">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Your cart:</span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#profile" data-toggle="tab">
                                                <i class="material-icons">delete_forever</i> Delete all
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#profile" data-toggle="tab">
                                                <h4><i th:text="${totalCostMsg}"></i>
                                                    <i class="material-icons">attach_money</i></h4>
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="profile">
                                    <table class="table">
                                        <tbody>
                                        <tr th:each="item : ${cartItems}">
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <h3 th:text="${item.count}"></h3>
                                                    </label>
                                                </div>
                                            </td>
                                            <td th:text="${item.product.name}">
                                            </td>
                                            <td><h4 th:text="${item.product.defaultPrice}"></h4></td>
                                            <td><h4 th:text="${item.product.defaultCurrency}"></h4></td>
                                            <td class="td-actions text-right">
                                                <form method="post">
                                                    <button type="submit" href="/cart" rel="tooltip" title=""
                                                            class="btn btn-primary btn-link"
                                                            data-original-title="Edit Task">
                                                        <i class="material-icons">save</i>

                                                    </button>
                                                </form>
                                                <form method="post">
                                                    <input type="hidden" name="delete" th:value="${item.id}">
                                                    <input type="hidden" name="user" value="sanya">
                                                    <button type="submit" href="/cart" rel="tooltip" title=""
                                                            class="btn btn-danger btn-link"
                                                            data-original-title="Remove">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="copyright float-right">
                @ 2018, Python lives matter!
            </div>
        </div>
    </footer>
</div>
</body>
</html>