<!--<!DOCTYPE html>-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

    <div th:fragment="sidebar" class="sidebar" data-color="azure" data-background-color="black"
         data-image="../static/img/sidebar-1.jpg">
        <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
    -->
        <div class="logo">
            <a href="/" class="simple-text logo-normal">
                Code Shop
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="http://polly.agency:8000/">-->
                <!--<i class="material-icons">web</i>-->
                <!--<p>Polly</p>-->
                <!--</a>-->
                <!--</li>-->

                <li class="nav-item" th:classappend="${page.equals('index')} ? 'active'">
                    <a class="nav-link" href="/">
                        <i class="material-icons">dashboard</i>
                        <p>Shop</p>
                    </a>
                </li>

                <li class="nav-item" th:classappend="${page.equals('cart')} ? 'active'">
                    <a class="nav-link" href="/cart">
                        <i class="material-icons">shopping_cart</i>
                        <p>Cart</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-background" style="background-image: url(/static/img/sidebar-1.jpg) "></div>
